@{
    ViewData["Title"] = "Home Page";
}

<div class="container-lg">   
    <div class="container">
        <div class="" id="search-div">
            <h1>Ayva Piş, Tencereye Düş</h1>
            <h4>İhtiyacınız olan hizmete kolayca ulaş, bekleyen işlerini hallet</h4>
            <div class="" id="search-int">
                <input type="text" value="hangi hizmeti arıyorsunuz" id="search-input" />
                <label id="Search-btn" class="btn btn-success">Ara</label>
            </div>

        </div>
    </div>
    <form method="post" action="HomePageForm" id="AnaForm">

        Buraya Kategoriler gelecek 




    </form>
</div>